---
---

@import "{{ site.theme }}";
.btn {
  color: rgba(241, 70, 17, 0.7);
  background-color: rgba(241, 70, 17, 0.08);
  border-color: rgba(241, 70, 17, 0.2);

  &:hover {
    color: rgba(241, 70, 17, 0.8);
    background-color: rgba(241, 70, 17, 0.2);
    border-color: rgba(241, 70, 17, 0.3);
  }
}

.page-header {
  color: black;
  background-image: radial-gradient(yellow, green);
}